@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (min-width: 1024px) {
  .quest-card {
    .intro-holder {
      max-height: 0;
      transition: max-height 0.4s ease-out;
    }
  }

  .card-image:hover {
    .inside-card .intro-holder {
      max-height: 400px;
      transition: max-height 0.4s ease-in;
    }
  }
}

.ticker {
  position: relative;
}

.ticker_wrapper {
  display: flex;
}

.ticker_item {
  font-weight: 500;
  white-space: nowrap;
  flex-shrink: 0;
  animation: ticker 15s linear infinite;
}

@keyframes ticker {
  0% {
    transform: translateZ(0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

a {
  width: fit-content;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff !important;
}
